# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.css text
*.md text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

